<!DOCTYPE html>
<html>
<head>
  <title>Node Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<div class="jumbotron text-center">
  <div class="container">
    <h1>Login with TU API</h1>
   </div>
</div>

<!-- Start Form -->

<form action="/action_page.php">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="username" class="form-control" id="username">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd">
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
      </form>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <a class="btn btn-primary" href="{% url 'social:begin' 'tu' %}">เข้าสู่ระบบ</a>
    </div>
  </div>
</form>

<!-- End Form -->

</body>
</html>
