body {
    background-color: #F3E4CB;
    font-family: "JasmineUPC", Helvetica, sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.container ,.header{
    margin-top: 50px;
}

.nav-bar {
    margin-top: auto;
    padding-top: 0;
    background-color: #FFE016;
}

.nav-item {
    background-color: #FFBB00;
}
.nav-item:hover {
    background-color: #7D0303;
}
.nav-link ,.nav-link:hover {
    color: #ffffff;
}

#profile {
    width: 181px;
    height: 240px;
}